---
import Cortina from '../components/cortina.svg'
import Person from '../components/person.svg'
import Reciclar from '../components/reciclar.svg'
---

<section>

    <article>

        <div class="reciclar-container">
            <Reciclar height={"40px"} width={"40px"} />
            <p>Garantia de<br>5 años</p>
        </div>

        <div>
            <Person height={"40px"} width={"40px"}/>
            <p>Venta a revendedores<br>y clientes directos</p>
        </div>

        <div>
            <Cortina height={"40px"} width={"40px"}/>
            <p>Colocación<br>profesional</p>
        </div>

    </article>

</section>

<style>
    section {
        padding: .8rem;
        background-color: var(--clr-secondary);

        article {
            display:flex;
            align-items: center;
            justify-content: space-between;
            gap: .5rem;

            @media screen and (width > 425px) {
                gap: 2rem;
                max-width: 600px;
                margin: 0 auto;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: .5rem;

                svg {
                    fill: #1e1d1d;

                    path {
                        fill: #1e1d1d;
                    }
                }

                @media screen and (width > 425px) {
                    flex-direction: row;
                    align-items: end;
                    text-align: left;

                    svg {
                        height: 45px;
                        width: 45px;
                    }
                }


                p {
                    line-height: 1.1;
                }


            }

            .reciclar-container {
                p { padding-bottom: 3px;}
            }
        }
    }
</style>