---
import Cortina from '../components/cortina.svg'
import Regla from '../components/regla.svg'
import Reciclar from '../components/reciclar.svg'
---

<section>

    <article>

        <div>
            <Reciclar height={"40px"} width={"40px"}/>
            <p>Garantia de<br>2 años</p>
        </div>

        <div>
            <Cortina height={"40px"} width={"40px"}/>
            <p>Colocación<br>incluída</p>
        </div>

        <div>
            <Regla height={"40px"} width={"40px"}/>
            <p>Medición<br>sin cargo</p>
        </div>

    </article>

</section>

<style>
    section {
        padding: .8rem;
        background-color: var(--clr-secondary);

        article {
            display:flex;
            align-items: center;
            justify-content: space-between;
            gap: .5rem;

            @media screen and (width > 425px) {
                gap: 2rem;
                max-width: 600px;
                margin: 0 auto;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                gap: .5rem;

                @media screen and (width > 425px) {
                    flex-direction: row;
                    align-items: end;
                    text-align: left;

                    svg {
                        height: 45px;
                        width: 45px;
                    }
                }

                p {
                    line-height: 1.1;
                }
            }
        }
    }
</style>