<section id="inicio">
  <article>
    <h1>Cortinas y toldos a medida</h1>
    <p>
      Fabricación e instalación profesional con materiales premium. Personalizá
      tu espacio con nuestros diseños duraderos.
    </p>
    <a href="#nuestrosProductos" aria-label="Ir a la sección de Productos">Ver productos</a>
  </article>

  <i class="bi bi-chevron-down"></i>
</section>

<style>
  #inicio {
    height: 100vh;
    padding-inline: 1rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;

    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url(/public/imgs/bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    article {
      
      display: flex;
      flex-direction: column;
      gap: 1.3rem;
      align-items: center;
      justify-content: end;
      text-align: center;

      h1 {
        font-size: 32px;
      }

      p {
        font-size: 18px;
        text-wrap: pretty;
        font-weight: 300;
      }

      a {
        font-size: 18px;
        background-color: var(--clr-primary);
        padding: 0.7rem 1.1rem;
        border-radius: 8px;
        font-weight: 500;
      }
    }

    i {
      font-size: 2rem;
      position: absolute;
      bottom: 0;
      left: 45%;
      transform: translateX(-50%);
      animation: moverFlecha 2s infinite cubic-bezier(0.4, 0, 0.2, 1);
    }

  }
 
  @media screen and (width > 750px) {
    #inicio {

            padding-inline: 4rem;
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(../../public/imgs/bg-desktop.webp);

        article {
            align-items:flex-start;

            h1 {
                font-size: 3rem;
            }

            p {
                text-wrap:pretty;
                font-size: 1.2rem;
                width: 40%;
                text-align: left;
            }

            a {
                transition: .3s background-color ease;
                &:hover {
                    background-color:var(--clr-primary-hover);
                }
            }
        }

      i {
        bottom: 10px;
        left: 50%;
      }

    }
  }

  @keyframes moverFlecha {
    0%,
    100% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(5px);
    }
  }
</style>
