---
import Header from './header.astro';
import Hero from './hero.astro';
import CaracteristicasDestacadas from './caracteristicas.astro';
import NuestrosProductos from './nuestrosProductos.astro';
import SobreNosotros from './sobreNosotros.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div>
		<Header />
		<Hero />
	</div>
	<CaracteristicasDestacadas />
	<div class="a">
		<NuestrosProductos />
		<SobreNosotros />
	</div>
</Layout>

<style>
	.a {
		max-width: 1200px;
		margin: 0 auto;
	}
</style>
